In [1]:
# NHAT TUNG LE, ID 426246
# LAB QUEST - 3

In [2]:
# install pyspark
# !pip install pyspark

In [3]:
import os
from pyspark import SparkContext
from pyspark.sql import SQLContext, SparkSession 
from pyspark.sql.functions import col, split, explode
from pyspark.sql.types import DateType, StringType, FloatType, IntegerType 
from pyspark.sql import functions as F

In [4]:
# Change oath
path = "C:/Users/Windows/Documents/GitHub/movielens/ml-20m/ml-20m"
os.chdir(path)
os.listdir()

['genome-scores.csv',
 'genome-tags.csv',
 'links.csv',
 'movies.csv',
 'ratings.csv',
 'README.txt',
 'tags.csv']

In [5]:
# create spark
spark = SparkSession.builder.master('local[*]').appName("Movie Lens Recommendation").getOrCreate()

In [6]:
## movies
movies_df = spark.read.csv("movies.csv", sep=",", header = True, inferSchema=True, nullValue="NA")
movies_df.show() 
movies_df.printSchema()

# we need to split genres
movies_df.withColumn("genres", explode(split("genres", "[|]")))
movies_df.show()
movies_df.printSchema()

+-------+--------------------+--------------------+
|movieId|               title|              genres|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
|      6|         Heat (1995)|Action|Crime|Thri...|
|      7|      Sabrina (1995)|      Comedy|Romance|
|      8| Tom and Huck (1995)|  Adventure|Children|
|      9| Sudden Death (1995)|              Action|
|     10|    GoldenEye (1995)|Action|Adventure|...|
|     11|American Presiden...|Comedy|Drama|Romance|
|     12|Dracula: Dead and...|       Comedy|Horror|
|     13|        Balto (1995)|Adventure|Animati...|
|     14|        Nixon (1995)|               Drama|
|     15|Cutthroat Island ...|Action|Adventure|...|
|     16|       Casino (1995)|         Crime|Drama|
|     17|Sense and Sensibi...|       Drama|Romance|
|     18|   Four Rooms (1995)|              Comedy|
|     19|Ace Ventura: When...|              Comedy|
|     20|  Money Train (1995)|Action|Comedy|Cri...|
+-------+--------------------+--------------------+
only showing top 20 rows

root
 |-- movieId: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- genres: string (nullable = true)

root
 |-- movieId: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- genres: string (nullable = true)

In [ ]:
## tags
tags_df = spark.read.csv("tags.csv", sep=",", header = True, inferSchema=True, nullValue="NA")
tags_df.show() 
tags_df.printSchema()

In [8]:
## genome-tags
genome_tags_df = spark.read.csv("genome-tags.csv", sep=",", header = True, inferSchema=True, nullValue="NA")
genome_tags_df.show() 
genome_tags_df.printSchema()

+-----+---------------+
|tagId|            tag|
+-----+---------------+
|    1|            007|
|    2|   007 (series)|
|    3|   18th century|
|    4|          1920s|
|    5|          1930s|
|    6|          1950s|
|    7|          1960s|
|    8|          1970s|
|    9|          1980s|
|   10|   19th century|
|   11|             3d|
|   12|           70mm|
|   13|            80s|
|   14|           9/11|
|   15|        aardman|
|   16|aardman studios|
|   17|       abortion|
|   18|         absurd|
|   19|         action|
|   20|  action packed|
+-----+---------------+
only showing top 20 rows

root
 |-- tagId: integer (nullable = true)
 |-- tag: string (nullable = true)

In [9]:
## genome-scores
genome_scores_df = spark.read.csv("genome-scores.csv", sep=",", header = True, inferSchema=True, nullValue="NA")
genome_scores_df.show() 
genome_scores_df.printSchema()

+-------+-----+--------------------+
|movieId|tagId|           relevance|
+-------+-----+--------------------+
|      1|    1|0.025000000000000022|
|      1|    2|0.025000000000000022|
|      1|    3|0.057750000000000024|
|      1|    4|             0.09675|
|      1|    5|             0.14675|
|      1|    6| 0.21700000000000003|
|      1|    7|               0.067|
|      1|    8| 0.26275000000000004|
|      1|    9|               0.262|
|      1|   10| 0.03199999999999997|
|      1|   11|               0.577|
|      1|   12| 0.11625000000000002|
|      1|   13|               0.188|
|      1|   14|0.008000000000000007|
|      1|   15|0.036750000000000005|
|      1|   16| 0.28174999999999994|
|      1|   17|0.007000000000000006|
|      1|   18| 0.11049999999999999|
|      1|   19|              0.6705|
|      1|   20|              0.1845|
+-------+-----+--------------------+
only showing top 20 rows

root
 |-- movieId: integer (nullable = true)
 |-- tagId: integer (nullable = true)
 |-- relevance: double (nullable = true)

In [10]:
## links
links_df = spark.read.csv("links.csv", sep=",", header = True, inferSchema=True, nullValue="NA")
links_df.show() 
links_df.printSchema()

+-------+------+------+
|movieId|imdbId|tmdbId|
+-------+------+------+
|      1|114709|   862|
|      2|113497|  8844|
|      3|113228| 15602|
|      4|114885| 31357|
|      5|113041| 11862|
|      6|113277|   949|
|      7|114319| 11860|
|      8|112302| 45325|
|      9|114576|  9091|
|     10|113189|   710|
|     11|112346|  9087|
|     12|112896| 12110|
|     13|112453| 21032|
|     14|113987| 10858|
|     15|112760|  1408|
|     16|112641|   524|
|     17|114388|  4584|
|     18|113101|     5|
|     19|112281|  9273|
|     20|113845| 11517|
+-------+------+------+
only showing top 20 rows

root
 |-- movieId: integer (nullable = true)
 |-- imdbId: integer (nullable = true)
 |-- tmdbId: integer (nullable = true)

In [11]:
## ratings
ratings_df = spark.read.csv("ratings.csv", sep=",", header = True, inferSchema=True, nullValue="NA")
ratings_df.show() 
ratings_df.printSchema()

+------+-------+------+----------+
|userId|movieId|rating| timestamp|
+------+-------+------+----------+
|     1|      2|   3.5|1112486027|
|     1|     29|   3.5|1112484676|
|     1|     32|   3.5|1112484819|
|     1|     47|   3.5|1112484727|
|     1|     50|   3.5|1112484580|
|     1|    112|   3.5|1094785740|
|     1|    151|   4.0|1094785734|
|     1|    223|   4.0|1112485573|
|     1|    253|   4.0|1112484940|
|     1|    260|   4.0|1112484826|
|     1|    293|   4.0|1112484703|
|     1|    296|   4.0|1112484767|
|     1|    318|   4.0|1112484798|
|     1|    337|   3.5|1094785709|
|     1|    367|   3.5|1112485980|
|     1|    541|   4.0|1112484603|
|     1|    589|   3.5|1112485557|
|     1|    593|   3.5|1112484661|
|     1|    653|   3.0|1094785691|
|     1|    919|   3.5|1094785621|
+------+-------+------+----------+
only showing top 20 rows

root
 |-- userId: integer (nullable = true)
 |-- movieId: integer (nullable = true)
 |-- rating: double (nullable = true)
 |-- timestamp: integer (nullable = true)

In [12]:
display(movies_df)
display(tags_df)
display(genome_tags_df)
display(genome_scores_df)
display(links_df)
display(ratings_df)

DataFrame[movieId: int, title: string, genres: string]

DataFrame[userId: int, movieId: int, tag: string, timestamp: int]

DataFrame[tagId: int, tag: string]

DataFrame[movieId: int, tagId: int, relevance: double]

DataFrame[movieId: int, imdbId: int, tmdbId: int]

DataFrame[userId: int, movieId: int, rating: double, timestamp: int]

In [ ]:
# JOIN TABLE

In [32]:
# https://stackoverflow.com/questions/35258506/how-to-avoid-duplicate-columns-after-join
def deDupeDfCols(df, separator=''):
    newcols = []

    for col in df.columns:
        if col not in newcols:
            newcols.append(col)
        else:
            for i in range(2, 1000):
                if (col + separator + str(i)) not in newcols:
                    newcols.append(col + separator + str(i))
                    break

    return df.toDF(*newcols)

In [34]:
# step 1
movies_tags_df = movies_df.join(tags_df, movies_df.movieId == tags_df.movieId, "inner")
movies_tags_df = deDupeDfCols(movies_tags_df, '_')
movies_tags_df.show()

+-------+--------------------+--------------------+------+---------+-----------------+----------+
|movieId|               title|              genres|userId|movieId_2|              tag| timestamp|
+-------+--------------------+--------------------+------+---------+-----------------+----------+
|   4141|Head Over Heels (...|      Comedy|Romance|    18|     4141|      Mark Waters|1240597180|
|    208|   Waterworld (1995)|Action|Adventure|...|    65|      208|        dark hero|1368150078|
|    353|    Crow, The (1994)|Action|Crime|Fant...|    65|      353|        dark hero|1368150079|
|    521|Romeo Is Bleeding...|      Crime|Thriller|    65|      521|    noir thriller|1368149983|
|    592|       Batman (1989)|Action|Crime|Thri...|    65|      592|        dark hero|1368150078|
|    668|Song of the Littl...|               Drama|    65|      668|        bollywood|1368149876|
|    898|Philadelphia Stor...|Comedy|Drama|Romance|    65|      898| screwball comedy|1368150160|
|   1248|Touch of Evil (1958)|Crime|Film-Noir|T...|    65|     1248|    noir thriller|1368149983|
|   1391|Mars Attacks! (1996)|Action|Comedy|Sci-Fi|    65|     1391|             mars|1368150055|
|   1617|L.A. Confidential...|Crime|Film-Noir|M...|    65|     1617|         neo-noir|1368150217|
|   1694| Apostle, The (1997)|               Drama|    65|     1694|            jesus|1368149925|
|   1783|     Palmetto (1998)|Crime|Drama|Myste...|    65|     1783|    noir thriller|1368149983|
|   2022|Last Temptation o...|               Drama|    65|     2022|            jesus|1368149925|
|   2193|       Willow (1988)|Action|Adventure|...|    65|     2193|           dragon|1368151314|
|   2353|Enemy of the Stat...|     Action|Thriller|    65|     2353|conspiracy theory|1368151266|
|   2662|War of the Worlds...| Action|Drama|Sci-Fi|    65|     2662|             mars|1368150055|
|   2726| Killing, The (1956)|     Crime|Film-Noir|    65|     2726|    noir thriller|1368149983|
|   2840|     Stigmata (1999)|      Drama|Thriller|    65|     2840|            jesus|1368149925|
|   3052|        Dogma (1999)|Adventure|Comedy|...|    65|     3052|            jesus|1368149926|
|   5135|Monsoon Wedding (...|      Comedy|Romance|    65|     5135|        bollywood|1368149876|
+-------+--------------------+--------------------+------+---------+-----------------+----------+
only showing top 20 rows

In [35]:
# step 2
movies_tags_genome_tags_df = movies_tags_df.join(genome_tags_df, movies_tags_df.tag == genome_tags_df.tag, "inner")
movies_tags_genome_tags_df = deDupeDfCols(movies_tags_genome_tags_df, '_')
movies_tags_genome_tags_df.show()

+-------+--------------------+--------------------+------+---------+-----------------+----------+-----+-----------------+
|movieId|               title|              genres|userId|movieId_2|              tag| timestamp|tagId|            tag_2|
+-------+--------------------+--------------------+------+---------+-----------------+----------+-----+-----------------+
|    208|   Waterworld (1995)|Action|Adventure|...|    65|      208|        dark hero|1368150078|  288|        dark hero|
|    353|    Crow, The (1994)|Action|Crime|Fant...|    65|      353|        dark hero|1368150079|  288|        dark hero|
|    521|Romeo Is Bleeding...|      Crime|Thriller|    65|      521|    noir thriller|1368149983|  712|    noir thriller|
|    592|       Batman (1989)|Action|Crime|Thri...|    65|      592|        dark hero|1368150078|  288|        dark hero|
|    668|Song of the Littl...|               Drama|    65|      668|        bollywood|1368149876|  149|        bollywood|
|    898|Philadelphia Stor...|Comedy|Drama|Romance|    65|      898| screwball comedy|1368150160|  894| screwball comedy|
|   1248|Touch of Evil (1958)|Crime|Film-Noir|T...|    65|     1248|    noir thriller|1368149983|  712|    noir thriller|
|   1391|Mars Attacks! (1996)|Action|Comedy|Sci-Fi|    65|     1391|             mars|1368150055|  630|             mars|
|   1617|L.A. Confidential...|Crime|Film-Noir|M...|    65|     1617|         neo-noir|1368150217|  700|         neo-noir|
|   1694| Apostle, The (1997)|               Drama|    65|     1694|            jesus|1368149925|  579|            jesus|
|   1783|     Palmetto (1998)|Crime|Drama|Myste...|    65|     1783|    noir thriller|1368149983|  712|    noir thriller|
|   2022|Last Temptation o...|               Drama|    65|     2022|            jesus|1368149925|  579|            jesus|
|   2193|       Willow (1988)|Action|Adventure|...|    65|     2193|           dragon|1368151314|  321|           dragon|
|   2353|Enemy of the Stat...|     Action|Thriller|    65|     2353|conspiracy theory|1368151266|  252|conspiracy theory|
|   2662|War of the Worlds...| Action|Drama|Sci-Fi|    65|     2662|             mars|1368150055|  630|             mars|
|   2726| Killing, The (1956)|     Crime|Film-Noir|    65|     2726|    noir thriller|1368149983|  712|    noir thriller|
|   2840|     Stigmata (1999)|      Drama|Thriller|    65|     2840|            jesus|1368149925|  579|            jesus|
|   3052|        Dogma (1999)|Adventure|Comedy|...|    65|     3052|            jesus|1368149926|  579|            jesus|
|   5135|Monsoon Wedding (...|      Comedy|Romance|    65|     5135|        bollywood|1368149876|  149|        bollywood|
|   6539|Pirates of the Ca...|Action|Adventure|...|    65|     6539|         treasure|1368149949| 1043|         treasure|
+-------+--------------------+--------------------+------+---------+-----------------+----------+-----+-----------------+
only showing top 20 rows

In [36]:
# step 3
movies_tags_genome_tags_genome_scores_df = movies_tags_genome_tags_df.join(genome_scores_df, movies_tags_genome_tags_df.tagId == genome_scores_df.tagId, "inner")
movies_tags_genome_tags_genome_scores_df = deDupeDfCols(movies_tags_genome_tags_genome_scores_df, '_')
movies_tags_genome_tags_genome_scores_df.show()

+-------+--------------------+--------------------+------+---------+---+----------+-----+-----+---------+-------+--------------------+
|movieId|               title|              genres|userId|movieId_2|tag| timestamp|tagId|tag_2|movieId_3|tagId_2|           relevance|
+-------+--------------------+--------------------+------+---------+---+----------+-----+-----+---------+-------+--------------------+
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|        1|      1|0.025000000000000022|
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|        2|      1| 0.03975000000000001|
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|        3|      1| 0.04349999999999998|
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|        4|      1|0.037250000000000005|
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|        5|      1| 0.04199999999999998|
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|        6|      1|0.028249999999999997|
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|        7|      1| 0.04575000000000001|
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|        8|      1|             0.03075|
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|        9|      1|0.034999999999999976|
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|       10|      1|  0.9997499999999999|
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|       11|      1| 0.04275000000000001|
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|       12|      1| 0.04025000000000001|
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|       13|      1| 0.03199999999999997|
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|       14|      1|0.025749999999999995|
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|       15|      1| 0.04625000000000001|
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|       16|      1|0.028249999999999997|
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|       17|      1|0.022249999999999992|
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|       18|      1|0.035499999999999976|
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|       19|      1| 0.04525000000000001|
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|       20|      1| 0.04899999999999999|
+-------+--------------------+--------------------+------+---------+---+----------+-----+-----+---------+-------+--------------------+
only showing top 20 rows

In [37]:
# step 4
movies_tags_genome_tags_genome_scores_links_df = movies_tags_genome_tags_genome_scores_df.join(links_df, movies_tags_genome_tags_genome_scores_df.movieId == links_df.movieId, "inner")
movies_tags_genome_tags_genome_scores_links_df = deDupeDfCols(movies_tags_genome_tags_genome_scores_links_df, '_')
movies_tags_genome_tags_genome_scores_links_df.show()

+-------+--------------------+--------------------+------+---------+---+----------+-----+-----+---------+-------+--------------------+---------+------+------+
|movieId|               title|              genres|userId|movieId_2|tag| timestamp|tagId|tag_2|movieId_3|tagId_2|           relevance|movieId_4|imdbId|tmdbId|
+-------+--------------------+--------------------+------+---------+---+----------+-----+-----+---------+-------+--------------------+---------+------+------+
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|        1|      1|0.025000000000000022|    49272|381061| 36557|
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|        2|      1| 0.03975000000000001|    49272|381061| 36557|
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|        3|      1| 0.04349999999999998|    49272|381061| 36557|
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|        4|      1|0.037250000000000005|    49272|381061| 36557|
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|        5|      1| 0.04199999999999998|    49272|381061| 36557|
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|        6|      1|0.028249999999999997|    49272|381061| 36557|
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|        7|      1| 0.04575000000000001|    49272|381061| 36557|
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|        8|      1|             0.03075|    49272|381061| 36557|
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|        9|      1|0.034999999999999976|    49272|381061| 36557|
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|       10|      1|  0.9997499999999999|    49272|381061| 36557|
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|       11|      1| 0.04275000000000001|    49272|381061| 36557|
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|       12|      1| 0.04025000000000001|    49272|381061| 36557|
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|       13|      1| 0.03199999999999997|    49272|381061| 36557|
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|       14|      1|0.025749999999999995|    49272|381061| 36557|
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|       15|      1| 0.04625000000000001|    49272|381061| 36557|
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|       16|      1|0.028249999999999997|    49272|381061| 36557|
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|       17|      1|0.022249999999999992|    49272|381061| 36557|
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|       18|      1|0.035499999999999976|    49272|381061| 36557|
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|       19|      1| 0.04525000000000001|    49272|381061| 36557|
|  49272|Casino Royale (2006)|Action|Adventure|...|  2483|    49272|007|1194725068|    1|  007|       20|      1| 0.04899999999999999|    49272|381061| 36557|
+-------+--------------------+--------------------+------+---------+---+----------+-----+-----+---------+-------+--------------------+---------+------+------+
only showing top 20 rows

In [ ]:
# step 5
final_df = movies_tags_genome_tags_genome_scores_links_df.join(ratings_df, movies_tags_genome_tags_genome_scores_links_df.userId == ratings_df.userId, "inner")
final_df = deDupeDfCols(final_df, '_')
final_df.show()

In [ ]:
# REMOVE ALL DUPLICATE COULMN

In [ ]:
display(final_df)

In [ ]:
val cols = Seq("movieId_2","tag_2","movieId_3", "movieId_4", )
df = df.drop(cols:_*)