In [1]:
# NHAT TUNG LE, ID 426246
# LAB QUEST - 3

In [2]:
# install pyspark
# !pip install pyspark

In [3]:
import os
from pyspark import SparkContext
from pyspark.sql import SQLContext, SparkSession 
from pyspark.sql.functions import col, split, explode
from pyspark.sql.types import DateType, StringType, FloatType, IntegerType 
from pyspark.sql import functions as F

In [4]:
# Change oath
path = "C:/Users/Windows/Documents/GitHub/movielens/ml-20m/ml-20m"
os.chdir(path)
os.listdir()

['genome-scores.csv',
 'genome-tags.csv',
 'links.csv',
 'movies.csv',
 'ratings.csv',
 'README.txt',
 'tags.csv']

In [5]:
# create spark
spark = SparkSession.builder.master('local[*]').appName("Movie Lens Recommendation").getOrCreate()

In [6]:
## movies
movies_df = spark.read.csv("movies.csv", sep=",", header = True, inferSchema=True, nullValue="NA")
movies_df.show() 
movies_df.printSchema()

# we need to split genres
movies_df = movies_df.withColumn("genres", explode(split("genres", "[|]")))
movies_df.show()
movies_df.printSchema()

+-------+--------------------+--------------------+
|movieId|               title|              genres|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
|      6|         Heat (1995)|Action|Crime|Thri...|
|      7|      Sabrina (1995)|      Comedy|Romance|
|      8| Tom and Huck (1995)|  Adventure|Children|
|      9| Sudden Death (1995)|              Action|
|     10|    GoldenEye (1995)|Action|Adventure|...|
|     11|American Presiden...|Comedy|Drama|Romance|
|     12|Dracula: Dead and...|       Comedy|Horror|
|     13|        Balto (1995)|Adventure|Animati...|
|     14|        Nixon (1995)|               Drama|
|     15|Cutthroat Island ...|Action|Adventure|...|
|     16|       Casino (1995)|         Crime|Drama|
|     17|Sense and Sensibi...|       Drama|Romance|
|     18|   Four Rooms (1995)|              Comedy|
|     19|Ace Ventura: When...|              Comedy|
|     20|  Money Train (1995)|Action|Comedy|Cri...|
+-------+--------------------+--------------------+
only showing top 20 rows

root
 |-- movieId: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- genres: string (nullable = true)

+-------+--------------------+---------+
|movieId|               title|   genres|
+-------+--------------------+---------+
|      1|    Toy Story (1995)|Adventure|
|      1|    Toy Story (1995)|Animation|
|      1|    Toy Story (1995)| Children|
|      1|    Toy Story (1995)|   Comedy|
|      1|    Toy Story (1995)|  Fantasy|
|      2|      Jumanji (1995)|Adventure|
|      2|      Jumanji (1995)| Children|
|      2|      Jumanji (1995)|  Fantasy|
|      3|Grumpier Old Men ...|   Comedy|
|      3|Grumpier Old Men ...|  Romance|
|      4|Waiting to Exhale...|   Comedy|
|      4|Waiting to Exhale...|    Drama|
|      4|Waiting to Exhale...|  Romance|
|      5|Father of the Bri...|   Comedy|
|      6|         Heat (1995)|   Action|
|      6|         Heat (1995)|    Crime|
|      6|         Heat (1995)| Thriller|
|      7|      Sabrina (1995)|   Comedy|
|      7|      Sabrina (1995)|  Romance|
|      8| Tom and Huck (1995)|Adventure|
+-------+--------------------+---------+
only showing top 20 rows

root
 |-- movieId: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- genres: string (nullable = false)

In [7]:
## tags
tags_df = spark.read.csv("tags.csv", sep=",", header = True, inferSchema=True, nullValue="NA")
tags_df.show() 
tags_df.printSchema()

+------+-------+-----------------+----------+
|userId|movieId|              tag| timestamp|
+------+-------+-----------------+----------+
|    18|   4141|      Mark Waters|1240597180|
|    65|    208|        dark hero|1368150078|
|    65|    353|        dark hero|1368150079|
|    65|    521|    noir thriller|1368149983|
|    65|    592|        dark hero|1368150078|
|    65|    668|        bollywood|1368149876|
|    65|    898| screwball comedy|1368150160|
|    65|   1248|    noir thriller|1368149983|
|    65|   1391|             mars|1368150055|
|    65|   1617|         neo-noir|1368150217|
|    65|   1694|            jesus|1368149925|
|    65|   1783|    noir thriller|1368149983|
|    65|   2022|            jesus|1368149925|
|    65|   2193|           dragon|1368151314|
|    65|   2353|conspiracy theory|1368151266|
|    65|   2662|             mars|1368150055|
|    65|   2726|    noir thriller|1368149983|
|    65|   2840|            jesus|1368149925|
|    65|   3052|            jesus|1368149926|
|    65|   5135|        bollywood|1368149876|
+------+-------+-----------------+----------+
only showing top 20 rows

root
 |-- userId: integer (nullable = true)
 |-- movieId: integer (nullable = true)
 |-- tag: string (nullable = true)
 |-- timestamp: integer (nullable = true)

In [8]:
## genome-tags
genome_tags_df = spark.read.csv("genome-tags.csv", sep=",", header = True, inferSchema=True, nullValue="NA")
genome_tags_df.show() 
genome_tags_df.printSchema()

+-----+---------------+
|tagId|            tag|
+-----+---------------+
|    1|            007|
|    2|   007 (series)|
|    3|   18th century|
|    4|          1920s|
|    5|          1930s|
|    6|          1950s|
|    7|          1960s|
|    8|          1970s|
|    9|          1980s|
|   10|   19th century|
|   11|             3d|
|   12|           70mm|
|   13|            80s|
|   14|           9/11|
|   15|        aardman|
|   16|aardman studios|
|   17|       abortion|
|   18|         absurd|
|   19|         action|
|   20|  action packed|
+-----+---------------+
only showing top 20 rows

root
 |-- tagId: integer (nullable = true)
 |-- tag: string (nullable = true)

In [9]:
## genome-scores
genome_scores_df = spark.read.csv("genome-scores.csv", sep=",", header = True, inferSchema=True, nullValue="NA")
genome_scores_df.show() 
genome_scores_df.printSchema()

+-------+-----+--------------------+
|movieId|tagId|           relevance|
+-------+-----+--------------------+
|      1|    1|0.025000000000000022|
|      1|    2|0.025000000000000022|
|      1|    3|0.057750000000000024|
|      1|    4|             0.09675|
|      1|    5|             0.14675|
|      1|    6| 0.21700000000000003|
|      1|    7|               0.067|
|      1|    8| 0.26275000000000004|
|      1|    9|               0.262|
|      1|   10| 0.03199999999999997|
|      1|   11|               0.577|
|      1|   12| 0.11625000000000002|
|      1|   13|               0.188|
|      1|   14|0.008000000000000007|
|      1|   15|0.036750000000000005|
|      1|   16| 0.28174999999999994|
|      1|   17|0.007000000000000006|
|      1|   18| 0.11049999999999999|
|      1|   19|              0.6705|
|      1|   20|              0.1845|
+-------+-----+--------------------+
only showing top 20 rows

root
 |-- movieId: integer (nullable = true)
 |-- tagId: integer (nullable = true)
 |-- relevance: double (nullable = true)

In [10]:
## links
links_df = spark.read.csv("links.csv", sep=",", header = True, inferSchema=True, nullValue="NA")
links_df.show() 
links_df.printSchema()

+-------+------+------+
|movieId|imdbId|tmdbId|
+-------+------+------+
|      1|114709|   862|
|      2|113497|  8844|
|      3|113228| 15602|
|      4|114885| 31357|
|      5|113041| 11862|
|      6|113277|   949|
|      7|114319| 11860|
|      8|112302| 45325|
|      9|114576|  9091|
|     10|113189|   710|
|     11|112346|  9087|
|     12|112896| 12110|
|     13|112453| 21032|
|     14|113987| 10858|
|     15|112760|  1408|
|     16|112641|   524|
|     17|114388|  4584|
|     18|113101|     5|
|     19|112281|  9273|
|     20|113845| 11517|
+-------+------+------+
only showing top 20 rows

root
 |-- movieId: integer (nullable = true)
 |-- imdbId: integer (nullable = true)
 |-- tmdbId: integer (nullable = true)

In [11]:
## ratings
ratings_df = spark.read.csv("ratings.csv", sep=",", header = True, inferSchema=True, nullValue="NA")
ratings_df.show() 
ratings_df.printSchema()

+------+-------+------+----------+
|userId|movieId|rating| timestamp|
+------+-------+------+----------+
|     1|      2|   3.5|1112486027|
|     1|     29|   3.5|1112484676|
|     1|     32|   3.5|1112484819|
|     1|     47|   3.5|1112484727|
|     1|     50|   3.5|1112484580|
|     1|    112|   3.5|1094785740|
|     1|    151|   4.0|1094785734|
|     1|    223|   4.0|1112485573|
|     1|    253|   4.0|1112484940|
|     1|    260|   4.0|1112484826|
|     1|    293|   4.0|1112484703|
|     1|    296|   4.0|1112484767|
|     1|    318|   4.0|1112484798|
|     1|    337|   3.5|1094785709|
|     1|    367|   3.5|1112485980|
|     1|    541|   4.0|1112484603|
|     1|    589|   3.5|1112485557|
|     1|    593|   3.5|1112484661|
|     1|    653|   3.0|1094785691|
|     1|    919|   3.5|1094785621|
+------+-------+------+----------+
only showing top 20 rows

root
 |-- userId: integer (nullable = true)
 |-- movieId: integer (nullable = true)
 |-- rating: double (nullable = true)
 |-- timestamp: integer (nullable = true)

In [12]:
display(movies_df)
display(tags_df)
display(genome_tags_df)
display(genome_scores_df)
display(links_df)
display(ratings_df)

DataFrame[movieId: int, title: string, genres: string]

DataFrame[userId: int, movieId: int, tag: string, timestamp: int]

DataFrame[tagId: int, tag: string]

DataFrame[movieId: int, tagId: int, relevance: double]

DataFrame[movieId: int, imdbId: int, tmdbId: int]

DataFrame[userId: int, movieId: int, rating: double, timestamp: int]

In [13]:
# JOIN TABLE

In [14]:
# Step 1
# Join movies_df & ratings_df
joined_df = movies_df.join(ratings_df, movies_df.movieId == ratings_df.movieId, "inner").drop(ratings_df.movieId)
joined_df.show()

+-------+--------------------+---------+------+------+----------+
|movieId|               title|   genres|userId|rating| timestamp|
+-------+--------------------+---------+------+------+----------+
|      2|      Jumanji (1995)|  Fantasy|     1|   3.5|1112486027|
|      2|      Jumanji (1995)| Children|     1|   3.5|1112486027|
|      2|      Jumanji (1995)|Adventure|     1|   3.5|1112486027|
|     29|City of Lost Chil...|   Sci-Fi|     1|   3.5|1112484676|
|     29|City of Lost Chil...|  Mystery|     1|   3.5|1112484676|
|     29|City of Lost Chil...|  Fantasy|     1|   3.5|1112484676|
|     29|City of Lost Chil...|    Drama|     1|   3.5|1112484676|
|     29|City of Lost Chil...|Adventure|     1|   3.5|1112484676|
|     32|Twelve Monkeys (a...| Thriller|     1|   3.5|1112484819|
|     32|Twelve Monkeys (a...|   Sci-Fi|     1|   3.5|1112484819|
|     32|Twelve Monkeys (a...|  Mystery|     1|   3.5|1112484819|
|     47|Seven (a.k.a. Se7...| Thriller|     1|   3.5|1112484727|
|     47|Seven (a.k.a. Se7...|  Mystery|     1|   3.5|1112484727|
|     50|Usual Suspects, T...| Thriller|     1|   3.5|1112484580|
|     50|Usual Suspects, T...|  Mystery|     1|   3.5|1112484580|
|     50|Usual Suspects, T...|    Crime|     1|   3.5|1112484580|
|    112|Rumble in the Bro...|    Crime|     1|   3.5|1094785740|
|    112|Rumble in the Bro...|   Comedy|     1|   3.5|1094785740|
|    112|Rumble in the Bro...|Adventure|     1|   3.5|1094785740|
|    112|Rumble in the Bro...|   Action|     1|   3.5|1094785740|
+-------+--------------------+---------+------+------+----------+
only showing top 20 rows

In [15]:
# Step 2
# Join joined_df & links
joined_df_2 = joined_df.join(links_df, joined_df.movieId == links_df.movieId, "inner").drop(links_df.movieId)
joined_df_2.show()

+-------+--------------------+---------+------+------+----------+------+------+
|movieId|               title|   genres|userId|rating| timestamp|imdbId|tmdbId|
+-------+--------------------+---------+------+------+----------+------+------+
|      2|      Jumanji (1995)|  Fantasy|     1|   3.5|1112486027|113497|  8844|
|      2|      Jumanji (1995)| Children|     1|   3.5|1112486027|113497|  8844|
|      2|      Jumanji (1995)|Adventure|     1|   3.5|1112486027|113497|  8844|
|     29|City of Lost Chil...|   Sci-Fi|     1|   3.5|1112484676|112682|   902|
|     29|City of Lost Chil...|  Mystery|     1|   3.5|1112484676|112682|   902|
|     29|City of Lost Chil...|  Fantasy|     1|   3.5|1112484676|112682|   902|
|     29|City of Lost Chil...|    Drama|     1|   3.5|1112484676|112682|   902|
|     29|City of Lost Chil...|Adventure|     1|   3.5|1112484676|112682|   902|
|     32|Twelve Monkeys (a...| Thriller|     1|   3.5|1112484819|114746|    63|
|     32|Twelve Monkeys (a...|   Sci-Fi|     1|   3.5|1112484819|114746|    63|
|     32|Twelve Monkeys (a...|  Mystery|     1|   3.5|1112484819|114746|    63|
|     47|Seven (a.k.a. Se7...| Thriller|     1|   3.5|1112484727|114369|   807|
|     47|Seven (a.k.a. Se7...|  Mystery|     1|   3.5|1112484727|114369|   807|
|     50|Usual Suspects, T...| Thriller|     1|   3.5|1112484580|114814|   629|
|     50|Usual Suspects, T...|  Mystery|     1|   3.5|1112484580|114814|   629|
|     50|Usual Suspects, T...|    Crime|     1|   3.5|1112484580|114814|   629|
|    112|Rumble in the Bro...|    Crime|     1|   3.5|1094785740|113326| 33542|
|    112|Rumble in the Bro...|   Comedy|     1|   3.5|1094785740|113326| 33542|
|    112|Rumble in the Bro...|Adventure|     1|   3.5|1094785740|113326| 33542|
|    112|Rumble in the Bro...|   Action|     1|   3.5|1094785740|113326| 33542|
+-------+--------------------+---------+------+------+----------+------+------+
only showing top 20 rows

In [23]:
# Step 3
# Join joined_df & tags_df
joined_df_3 = joined_df_2.join(tags_df, (joined_df_2.movieId == tags_df.movieId) & (joined_df_2.userId == tags_df.userId))
joined_df_3.show()

+-------+----------------+---------+------+------+----------+------+------+------+-------+------------------+----------+
|movieId|           title|   genres|userId|rating| timestamp|imdbId|tmdbId|userId|movieId|               tag| timestamp|
+-------+----------------+---------+------+------+----------+------+------+------+-------+------------------+----------+
|      1|Toy Story (1995)|  Fantasy| 23171|   3.5|1130926397|114709|   862| 23171|      1|             pixar|1140521984|
|      1|Toy Story (1995)|   Comedy| 23171|   3.5|1130926397|114709|   862| 23171|      1|             pixar|1140521984|
|      1|Toy Story (1995)| Children| 23171|   3.5|1130926397|114709|   862| 23171|      1|             pixar|1140521984|
|      1|Toy Story (1995)|Animation| 23171|   3.5|1130926397|114709|   862| 23171|      1|             pixar|1140521984|
|      1|Toy Story (1995)|Adventure| 23171|   3.5|1130926397|114709|   862| 23171|      1|             pixar|1140521984|
|      1|Toy Story (1995)|  Fantasy| 88055|   3.0|1339531962|114709|   862| 88055|      1|          children|1339531972|
|      1|Toy Story (1995)|  Fantasy| 88055|   3.0|1339531962|114709|   862| 88055|      1|computer animation|1339531991|
|      1|Toy Story (1995)|  Fantasy| 88055|   3.0|1339531962|114709|   862| 88055|      1|            family|1339531975|
|      1|Toy Story (1995)|  Fantasy| 88055|   3.0|1339531962|114709|   862| 88055|      1|          humorous|1339531989|
|      1|Toy Story (1995)|  Fantasy| 88055|   3.0|1339531962|114709|   862| 88055|      1|       time travel|1339531981|
|      1|Toy Story (1995)|  Fantasy| 88055|   3.0|1339531962|114709|   862| 88055|      1|         Tom Hanks|1339531986|
|      1|Toy Story (1995)|  Fantasy| 88055|   3.0|1339531962|114709|   862| 88055|      1|             witty|1339531978|
|      1|Toy Story (1995)|   Comedy| 88055|   3.0|1339531962|114709|   862| 88055|      1|          children|1339531972|
|      1|Toy Story (1995)|   Comedy| 88055|   3.0|1339531962|114709|   862| 88055|      1|computer animation|1339531991|
|      1|Toy Story (1995)|   Comedy| 88055|   3.0|1339531962|114709|   862| 88055|      1|            family|1339531975|
|      1|Toy Story (1995)|   Comedy| 88055|   3.0|1339531962|114709|   862| 88055|      1|          humorous|1339531989|
|      1|Toy Story (1995)|   Comedy| 88055|   3.0|1339531962|114709|   862| 88055|      1|       time travel|1339531981|
|      1|Toy Story (1995)|   Comedy| 88055|   3.0|1339531962|114709|   862| 88055|      1|         Tom Hanks|1339531986|
|      1|Toy Story (1995)|   Comedy| 88055|   3.0|1339531962|114709|   862| 88055|      1|             witty|1339531978|
|      1|Toy Story (1995)| Children| 88055|   3.0|1339531962|114709|   862| 88055|      1|          children|1339531972|
+-------+----------------+---------+------+------+----------+------+------+------+-------+------------------+----------+
only showing top 20 rows

In [24]:
# Remove dupplicate
def dropDupeDfCols(df):
    newcols = []
    dupcols = []

    for i in range(len(df.columns)):
        if df.columns[i] not in newcols:
            newcols.append(df.columns[i])
        else:
            dupcols.append(i)

    df = df.toDF(*[str(i) for i in range(len(df.columns))])
    for dupcol in dupcols:
        df = df.drop(str(dupcol))

    return df.toDF(*newcols)

In [25]:
joined_df_3 = dropDupeDfCols(joined_df_3)
joined_df_3.show()

+-------+----------------+---------+------+------+----------+------+------+------------------+
|movieId|           title|   genres|userId|rating| timestamp|imdbId|tmdbId|               tag|
+-------+----------------+---------+------+------+----------+------+------+------------------+
|      1|Toy Story (1995)|  Fantasy| 23171|   3.5|1130926397|114709|   862|             pixar|
|      1|Toy Story (1995)|   Comedy| 23171|   3.5|1130926397|114709|   862|             pixar|
|      1|Toy Story (1995)| Children| 23171|   3.5|1130926397|114709|   862|             pixar|
|      1|Toy Story (1995)|Animation| 23171|   3.5|1130926397|114709|   862|             pixar|
|      1|Toy Story (1995)|Adventure| 23171|   3.5|1130926397|114709|   862|             pixar|
|      1|Toy Story (1995)|  Fantasy| 88055|   3.0|1339531962|114709|   862|          children|
|      1|Toy Story (1995)|  Fantasy| 88055|   3.0|1339531962|114709|   862|computer animation|
|      1|Toy Story (1995)|  Fantasy| 88055|   3.0|1339531962|114709|   862|            family|
|      1|Toy Story (1995)|  Fantasy| 88055|   3.0|1339531962|114709|   862|          humorous|
|      1|Toy Story (1995)|  Fantasy| 88055|   3.0|1339531962|114709|   862|       time travel|
|      1|Toy Story (1995)|  Fantasy| 88055|   3.0|1339531962|114709|   862|         Tom Hanks|
|      1|Toy Story (1995)|  Fantasy| 88055|   3.0|1339531962|114709|   862|             witty|
|      1|Toy Story (1995)|   Comedy| 88055|   3.0|1339531962|114709|   862|          children|
|      1|Toy Story (1995)|   Comedy| 88055|   3.0|1339531962|114709|   862|computer animation|
|      1|Toy Story (1995)|   Comedy| 88055|   3.0|1339531962|114709|   862|            family|
|      1|Toy Story (1995)|   Comedy| 88055|   3.0|1339531962|114709|   862|          humorous|
|      1|Toy Story (1995)|   Comedy| 88055|   3.0|1339531962|114709|   862|       time travel|
|      1|Toy Story (1995)|   Comedy| 88055|   3.0|1339531962|114709|   862|         Tom Hanks|
|      1|Toy Story (1995)|   Comedy| 88055|   3.0|1339531962|114709|   862|             witty|
|      1|Toy Story (1995)| Children| 88055|   3.0|1339531962|114709|   862|          children|
+-------+----------------+---------+------+------+----------+------+------+------------------+
only showing top 20 rows

In [26]:
# Step 4
# Join 2 genomes
joined_genome = genome_tags_df.join(genome_scores_df, genome_tags_df.tagId == genome_scores_df.tagId, "inner").drop(genome_scores_df.tagId)
joined_genome.show()

+-----+---------------+-------+--------------------+
|tagId|            tag|movieId|           relevance|
+-----+---------------+-------+--------------------+
|    1|            007|      1|0.025000000000000022|
|    2|   007 (series)|      1|0.025000000000000022|
|    3|   18th century|      1|0.057750000000000024|
|    4|          1920s|      1|             0.09675|
|    5|          1930s|      1|             0.14675|
|    6|          1950s|      1| 0.21700000000000003|
|    7|          1960s|      1|               0.067|
|    8|          1970s|      1| 0.26275000000000004|
|    9|          1980s|      1|               0.262|
|   10|   19th century|      1| 0.03199999999999997|
|   11|             3d|      1|               0.577|
|   12|           70mm|      1| 0.11625000000000002|
|   13|            80s|      1|               0.188|
|   14|           9/11|      1|0.008000000000000007|
|   15|        aardman|      1|0.036750000000000005|
|   16|aardman studios|      1| 0.28174999999999994|
|   17|       abortion|      1|0.007000000000000006|
|   18|         absurd|      1| 0.11049999999999999|
|   19|         action|      1|              0.6705|
|   20|  action packed|      1|              0.1845|
+-----+---------------+-------+--------------------+
only showing top 20 rows

In [27]:
# Step 5
# Join joined_df & joined_genome by tag and movieID
joined_df_4 = joined_df_3.join(joined_genome, (joined_df_3.movieId == joined_genome.movieId) & (joined_df_3.tag == joined_genome.tag))
joined_df_4.show()

+-------+----------------+---------+------+------+----------+------+------+--------+-----+--------+-------+---------+
|movieId|           title|   genres|userId|rating| timestamp|imdbId|tmdbId|     tag|tagId|     tag|movieId|relevance|
+-------+----------------+---------+------+------+----------+------+------+--------+-----+--------+-------+---------+
|      1|Toy Story (1995)|  Fantasy| 88055|   3.0|1339531962|114709|   862|children|  204|children|      1|  0.96425|
|      1|Toy Story (1995)|   Comedy| 88055|   3.0|1339531962|114709|   862|children|  204|children|      1|  0.96425|
|      1|Toy Story (1995)| Children| 88055|   3.0|1339531962|114709|   862|children|  204|children|      1|  0.96425|
|      1|Toy Story (1995)|Animation| 88055|   3.0|1339531962|114709|   862|children|  204|children|      1|  0.96425|
|      1|Toy Story (1995)|Adventure| 88055|   3.0|1339531962|114709|   862|children|  204|children|      1|  0.96425|
|      1|Toy Story (1995)|  Fantasy| 51492|   2.0|1378323565|114709|   862|children|  204|children|      1|  0.96425|
|      1|Toy Story (1995)|   Comedy| 51492|   2.0|1378323565|114709|   862|children|  204|children|      1|  0.96425|
|      1|Toy Story (1995)| Children| 51492|   2.0|1378323565|114709|   862|children|  204|children|      1|  0.96425|
|      1|Toy Story (1995)|Animation| 51492|   2.0|1378323565|114709|   862|children|  204|children|      1|  0.96425|
|      1|Toy Story (1995)|Adventure| 51492|   2.0|1378323565|114709|   862|children|  204|children|      1|  0.96425|
|      1|Toy Story (1995)|  Fantasy| 84441|   3.5|1176134235|114709|   862|children|  204|children|      1|  0.96425|
|      1|Toy Story (1995)|   Comedy| 84441|   3.5|1176134235|114709|   862|children|  204|children|      1|  0.96425|
|      1|Toy Story (1995)| Children| 84441|   3.5|1176134235|114709|   862|children|  204|children|      1|  0.96425|
|      1|Toy Story (1995)|Animation| 84441|   3.5|1176134235|114709|   862|children|  204|children|      1|  0.96425|
|      1|Toy Story (1995)|Adventure| 84441|   3.5|1176134235|114709|   862|children|  204|children|      1|  0.96425|
|      1|Toy Story (1995)|  Fantasy| 72257|   5.0|1330111303|114709|   862|children|  204|children|      1|  0.96425|
|      1|Toy Story (1995)|   Comedy| 72257|   5.0|1330111303|114709|   862|children|  204|children|      1|  0.96425|
|      1|Toy Story (1995)| Children| 72257|   5.0|1330111303|114709|   862|children|  204|children|      1|  0.96425|
|      1|Toy Story (1995)|Animation| 72257|   5.0|1330111303|114709|   862|children|  204|children|      1|  0.96425|
|      1|Toy Story (1995)|Adventure| 72257|   5.0|1330111303|114709|   862|children|  204|children|      1|  0.96425|
+-------+----------------+---------+------+------+----------+------+------+--------+-----+--------+-------+---------+
only showing top 20 rows

In [28]:
# Remove Dupllicate
joined_df_4 = dropDupeDfCols(joined_df_4)
joined_df_4.show()

+-------+----------------+---------+------+------+----------+------+------+--------+-----+---------+
|movieId|           title|   genres|userId|rating| timestamp|imdbId|tmdbId|     tag|tagId|relevance|
+-------+----------------+---------+------+------+----------+------+------+--------+-----+---------+
|      1|Toy Story (1995)|  Fantasy| 88055|   3.0|1339531962|114709|   862|children|  204|  0.96425|
|      1|Toy Story (1995)|   Comedy| 88055|   3.0|1339531962|114709|   862|children|  204|  0.96425|
|      1|Toy Story (1995)| Children| 88055|   3.0|1339531962|114709|   862|children|  204|  0.96425|
|      1|Toy Story (1995)|Animation| 88055|   3.0|1339531962|114709|   862|children|  204|  0.96425|
|      1|Toy Story (1995)|Adventure| 88055|   3.0|1339531962|114709|   862|children|  204|  0.96425|
|      1|Toy Story (1995)|  Fantasy| 51492|   2.0|1378323565|114709|   862|children|  204|  0.96425|
|      1|Toy Story (1995)|   Comedy| 51492|   2.0|1378323565|114709|   862|children|  204|  0.96425|
|      1|Toy Story (1995)| Children| 51492|   2.0|1378323565|114709|   862|children|  204|  0.96425|
|      1|Toy Story (1995)|Animation| 51492|   2.0|1378323565|114709|   862|children|  204|  0.96425|
|      1|Toy Story (1995)|Adventure| 51492|   2.0|1378323565|114709|   862|children|  204|  0.96425|
|      1|Toy Story (1995)|  Fantasy| 84441|   3.5|1176134235|114709|   862|children|  204|  0.96425|
|      1|Toy Story (1995)|   Comedy| 84441|   3.5|1176134235|114709|   862|children|  204|  0.96425|
|      1|Toy Story (1995)| Children| 84441|   3.5|1176134235|114709|   862|children|  204|  0.96425|
|      1|Toy Story (1995)|Animation| 84441|   3.5|1176134235|114709|   862|children|  204|  0.96425|
|      1|Toy Story (1995)|Adventure| 84441|   3.5|1176134235|114709|   862|children|  204|  0.96425|
|      1|Toy Story (1995)|  Fantasy| 72257|   5.0|1330111303|114709|   862|children|  204|  0.96425|
|      1|Toy Story (1995)|   Comedy| 72257|   5.0|1330111303|114709|   862|children|  204|  0.96425|
|      1|Toy Story (1995)| Children| 72257|   5.0|1330111303|114709|   862|children|  204|  0.96425|
|      1|Toy Story (1995)|Animation| 72257|   5.0|1330111303|114709|   862|children|  204|  0.96425|
|      1|Toy Story (1995)|Adventure| 72257|   5.0|1330111303|114709|   862|children|  204|  0.96425|
+-------+----------------+---------+------+------+----------+------+------+--------+-----+---------+
only showing top 20 rows

In [29]:
df = joined_df_4.select("movieId", "userId", "tagId", "imdbId", "tmdbId", "title", "genres", "rating", "relevance")
df.show()

+-------+------+-----+------+------+----------------+---------+------+---------+
|movieId|userId|tagId|imdbId|tmdbId|           title|   genres|rating|relevance|
+-------+------+-----+------+------+----------------+---------+------+---------+
|      1| 88055|  204|114709|   862|Toy Story (1995)|  Fantasy|   3.0|  0.96425|
|      1| 88055|  204|114709|   862|Toy Story (1995)|   Comedy|   3.0|  0.96425|
|      1| 88055|  204|114709|   862|Toy Story (1995)| Children|   3.0|  0.96425|
|      1| 88055|  204|114709|   862|Toy Story (1995)|Animation|   3.0|  0.96425|
|      1| 88055|  204|114709|   862|Toy Story (1995)|Adventure|   3.0|  0.96425|
|      1| 51492|  204|114709|   862|Toy Story (1995)|  Fantasy|   2.0|  0.96425|
|      1| 51492|  204|114709|   862|Toy Story (1995)|   Comedy|   2.0|  0.96425|
|      1| 51492|  204|114709|   862|Toy Story (1995)| Children|   2.0|  0.96425|
|      1| 51492|  204|114709|   862|Toy Story (1995)|Animation|   2.0|  0.96425|
|      1| 51492|  204|114709|   862|Toy Story (1995)|Adventure|   2.0|  0.96425|
|      1| 84441|  204|114709|   862|Toy Story (1995)|  Fantasy|   3.5|  0.96425|
|      1| 84441|  204|114709|   862|Toy Story (1995)|   Comedy|   3.5|  0.96425|
|      1| 84441|  204|114709|   862|Toy Story (1995)| Children|   3.5|  0.96425|
|      1| 84441|  204|114709|   862|Toy Story (1995)|Animation|   3.5|  0.96425|
|      1| 84441|  204|114709|   862|Toy Story (1995)|Adventure|   3.5|  0.96425|
|      1| 72257|  204|114709|   862|Toy Story (1995)|  Fantasy|   5.0|  0.96425|
|      1| 72257|  204|114709|   862|Toy Story (1995)|   Comedy|   5.0|  0.96425|
|      1| 72257|  204|114709|   862|Toy Story (1995)| Children|   5.0|  0.96425|
|      1| 72257|  204|114709|   862|Toy Story (1995)|Animation|   5.0|  0.96425|
|      1| 72257|  204|114709|   862|Toy Story (1995)|Adventure|   5.0|  0.96425|
+-------+------+-----+------+------+----------------+---------+------+---------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import sum as _sum
from pyspark.sql.functions import countDistinct as _countDistinct
from pyspark.sql.functions import avg as _avg


dataset = joined_df_4.groupBy('userId','title').agg(_avg(rating))
dataset.show()

In [ ]:
# USING MLIB

In [30]:
from pyspark.ml.regression import DecisionTreeRegressor
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.regression import LinearRegression
from pyspark.ml.feature import StringIndexer
from pyspark.ml.classification import DecisionTreeClassifier

In [31]:
# Import the required functions
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.recommendation import ALS
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator

# Create ALS model
als = ALS(
         userCol="userId", 
         itemCol="movieId",
         ratingCol="rating", 
         nonnegative = True, 
         implicitPrefs = False,
         coldStartStrategy="drop"
)

In [33]:
# Import the requisite packages
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator
from pyspark.ml.evaluation import RegressionEvaluator

In [34]:
# Add hyperparameters and their respective values to param_grid
param_grid = ParamGridBuilder() \
            .addGrid(als.rank, [10, 50, 100, 150]) \
            .addGrid(als.regParam, [.01, .05, .1, .15]) \
            .build()

In [35]:
# Define evaluator as RMSE and print length of evaluator
evaluator = RegressionEvaluator(
           metricName="rmse", 
           labelCol="rating", 
           predictionCol="prediction") 
print ("Num models to be tested: ", len(param_grid))

Num models to be tested:  16

In [38]:
# Build cross validation using CrossValidator
cv = CrossValidator(estimator=als, estimatorParamMaps=param_grid, evaluator=evaluator, numFolds=5)

In [37]:
print("**Best Model**")
# Print "Rank"
print("  Rank:", best_model._java_obj.parent().getRank())
# Print "MaxIter"
print("  MaxIter:", best_model._java_obj.parent().getMaxIter())
# Print "RegParam"
print("  RegParam:", best_model._java_obj.parent().getRegParam())

**Best Model**

NameError: name 'best_model' is not defined

In [39]:
# Fit cross validator to the 'train' dataset
model = cv.fit(train)
#Extract best model from the cv model above
best_model = model.bestModel
# View the predictions
test_predictions = best_model.transform(test)
RMSE = evaluator.evaluate(test_predictions)
print(RMSE)

NameError: name 'train' is not defined